//Hero background-image & color moved inline in WeatherHero.js
.hero {
    height: auto;
    padding: 0px 40px 30px 40px;
    overflow: hidden;
}

//Inner containers
.hero .container-left {
    width: 100%;
    float: left;
}

.hero .container-right {
    width: 100%;
    float: left;
}

//Location display text
.hero .location {
    margin-top: 50px;
    color: white;
    letter-spacing: 0.0625em;
    font-family: 'Lato', sans-serif;
}

//Current date display text
.hero .date {
    margin-top: -10px;
    color: white;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
}

//Current temperature display text
.hero .temperature {
    font-size: 4em;
    margin: 50px 15px 0px 0px;
    float: left;
    color: white;
    font-family: 'Lato', sans-serif;
}

//Temperature format display text
.hero .temperature-format {
    margin-top: -30px;
    font-size: 0.6em;
}

//Current weather indicator icon
.hero .weather-icon {
    margin-top: 40px;
    font-size: 6em;
    color: white;
    float: right;
}

@media only screen and (min-width: 768px) {
    .hero .container-left {
        width: 50%;
    }
    
    .hero .container-right {
        width: 50%;
    }

    .hero .temperature {
        float: right;
    }
}