#settings-title {
    color: var(--font-color);
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.settings-container {
    width: 95%;
    margin: auto;
    padding-top: 30px;
}

.settings {
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        padding-left: 0px;
    }

    li {
        padding-bottom: 40px;
    }

    .container-30 {
        float: left;
        width: 30%;
        margin-top: -6px;
    }

    .container-70 {
        float: left;
        width: 70%;
    }
}

select {
    margin: 5px 0 0 -20px;
    padding: 4px;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}


@media only screen and (min-width: 768px) {
    #settings-title {
        margin-left: 10px;
    }

    .settings-container {
        width: 50%;
        margin: auto;
        padding-top: 30px;
    }

    .settings {
        h3 {
            padding-left: 20px;
        }

        ul {
            float: none;
            padding-left: 30px;
        }

        .container-30 {
            float: left;
            width: 30%;
        }
    
        .container-70 {
            float: left;
            width: 70%;
        }
    }
}